:root {
  --ui-font-family-poppins-regular: 'Poppins-Regular', Arial, sans-serif;
  --ui-font-family-poppins-semi-bold: 'Poppins-SemiBold', Arial, sans-serif;
  --ui-font-family-impact: Impact, sans-serif;

  --ui-font-size-xs: 13px;
  --ui-font-size-sm: 14px;
  --ui-font-size-base: 16px;
  --ui-font-size-md: 20px;

  --ui-font-size-h1: 58px;
  --ui-font-size-h3: 24px;
}
