[data-theme='dark'],
[data-theme='light'] {
  --ui-color-white: #fff;
  --ui-color-black: #000000;
  --ui-color-yellow: #e3a71e;
  --ui-color-yellow-dark: #d99f1e;
  --ui-color-yellow-darker: #3d2e0a;

  --ui-ribbon-bg: repeating-linear-gradient(-55deg, var(--ui-color-black), var(--ui-color-black) 20px, var(--ui-color-yellow) 20px, var(--ui-color-yellow) 40px);
}

[data-theme='dark'] {
  --ui-color-primary:  var(--ui-color-yellow);
  --ui-color-primary-dark:  var(--ui-color-yellow-dark);
  --ui-color-primary-darker:  var(--ui-color-yellow-darker);

  --ui-color-accent:  #cc0000;
  --ui-color-accent-dark:  #9d0000;

  --ui-color-grey-light: #dedede;
  --ui-color-grey: #8d8b8b;
  --ui-color-grey-dark: #292929;
  --ui-color-grey-darker: #121212;

  /*
  * Body.
  */
  --ui-main-bg: var(--ui-color-grey-dark);
  --ui-body-bg: var(--ui-color-grey-darker);
  --ui-body-color: var(--ui-color-grey-light);
  --ui-head-bg: var(--ui-color-black);
  --ui-footer-bg: var(--ui-color-black);
  --ui-footer-color: var(--ui-color-grey);

  /*
  * Card.
  */
  --ui-card-color: var(--ui-color-grey-dark);

  /*
  * Control.
  */
  --ui-border: 1px solid var(--ui-color-primary);
  --ui-border-double: 2px solid var(--ui-color-primary);
  --ui-input-bg: var(--ui-color-black);

  /*
  * Control.
  */
  --ui-dropdown-bg: var(--ui-color-grey-darker);
  --ui-dropdown-item-active-bg: var(--ui-color-primary);
  --ui-dropdown-item-active-color: var(--ui-color-primary-darker);
}

[data-theme='light'] {
}
