:root {
  --ui-space-small: 4px;
  --ui-space-base: 16px;
  --ui-space-base-half: calc(var(--ui-space-base)/2);
  --ui-space-base-double: calc(var(--ui-space-base)*2);
  --ui-space-baseF-half: calc(var(--ui-space-base)/2);
}
