@import 'src/app/styles/mixins/mixin-link';

.ui-oops {
  flex: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url(../../../styles/img/oops.jpg);
  margin: calc(var(--ui-space-base-double)*-1);
  padding: var(--ui-space-base);
  display: flex;
  align-items: center;
  justify-content: center;

  &__link {
    @include link;
  }
}
