@import "../../../styles/mixins/mixin-heading";

[class*='ui-heading'] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ui-heading {
  &--title {
    @include heading('h1');
    margin-bottom: var(--ui-space-base-half);
  }
  &--subtitle {
    @include heading('h3')
  }
}
