@import "src/app/styles/variables/screen";

.fr-flashcards {
  margin-top: calc(var(--ui-space-base) * 3);

  .fr-flashcards__list {
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--ui-space-base-half) * -1);

    &-item {
      padding: var(--ui-space-base-half);
      width: 100%;
      display: flex;
      cursor: pointer;
      font-size: var(--ui-font-size-sm);
      position: relative;

      // For Tablet.
      @media (min-width: $screen-md) {
        width: calc(100% * 1 / 2);
      }

      h5 {
        font-family: var(--ui-font-family-poppins-semi-bold);
        margin-bottom: var(--ui-space-base-half);
        font-size: var(--ui-font-size-sm);
      }

      ul {
        padding-left: 20px;
        list-style: disc;

        li {
           padding-bottom: var(--ui-space-base-half);
        }
      }
    }
  }
}
