@import "../../../styles/variables/screen";

$img-size: 400px;

.ui-banner {
  &__img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-width: 50%;
    min-height: $img-size;
  }

  &__info {
    padding: var(--ui-space-base-double) 0 0 0;
  }

  // For Tablet & Desktop.
  @media (min-width: $screen-lg) {
    & {
      display: flex;

      &__info {
        padding: 0 0 0 var(--ui-space-base-double);
      }
    }
  }
}
