@mixin link {
  & {
    display: inline-block;

    span {
      line-height: 1.5;
      border-bottom: 2px solid rgba(255, 255, 255, .3);
    }

    &:hover {
      span {
        color: var(--ui-color-primary);
        border-bottom: 2px solid rgba(227, 167, 30, .6);
      }
    }
  }
}
