.ui-flashcard {
  width: 100%;
  background-color: var(--ui-card-color);
  padding: var(--ui-space-base);

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__body {
    margin-top: var(--ui-space-base);
  }

  &__title {
    font-family: var(--ui-font-family-poppins-semi-bold);
    margin-right: var(--ui-space-base-half);
  }

  &__icon {
    font-size: var(--ui-font-size-icon-base);
  }
}

.is-active {
  .ui-flashcard {
    color: var(--ui-color-grey-darker);
    background-color: var(--ui-color-grey);

    &__content {
      background-color: var(--ui-color-grey);
    }
  }
}
